<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816488611659-4r96oji0k39sje5gkn1cbop4mlcdii85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816488611659-4r96oji0k39sje5gkn1cbop4mlcdii85</string>
	<key>API_KEY</key>
	<string>AIzaSyBCekgxaaTxk5ZhZUq7DfirH4af6pKoGVc</string>
	<key>GCM_SENDER_ID</key>
	<string>816488611659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RNTemplateApp</string>
	<key>PROJECT_ID</key>
	<string>react-native-templates-85e38</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-templates-85e38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816488611659:ios:a88ef84ecc10acc5ffb2ce</string>
</dict>
</plist>
